.thead_tr {height: 40px;}
.operation {
    padding: 3px 10px;
    display: inline-block;
    font-family: "Microsoft YaHei";
    color: #FFF!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25)!important;
    background-image: none!important;

    border-radius: 0;
    box-shadow: none!important;
    -webkit-transition: all ease .15s;
    transition: all ease .15s;
    cursor: pointer;
    vertical-align: middle;

    position: relative;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.tabble_th_width{
    width: 80px;
}
.tabble_th_tel_width{
    width: 120px;
}